.report-main-wrap {
	p {
		margin: 0;
	}
	a {
		color: inherit;
	}
	[class^='ttr-'],
	[class*=' ttr-'] {
		font-size: 22px;
	}

	.tutor-list-header {
		margin-bottom: 25px;
		@include breakpoint-max(823) {
			font-size: 20px;
			line-height: 132%;
			margin-bottom: 15px;
		}
	}

	.tutor-report-left-menus {
		background-color: #fcfcfc;
		margin-bottom: 40px;
		@include breakpoint-max(823) {
			flex-direction: column;
			flex-wrap: wrap;
			margin-bottom: 40px;
			padding: 20px 30px;
		}
	}
	.tutor-report-content {
		.tutor-report-overview-wrap {
			.report-stats {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				gap: 20px 23px;
				@include breakpoint-min(1400) {
					grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				}
				@include breakpoint-min(1500) {
					grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				}
				@include breakpoint-min(1650) {
					grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
				}
				.report-stat-box {
				}
				.report-stat-box-body {
					background-color: #ffffff;
					display: flex;
					padding: 16px 29px;
					border: 2px solid #e0e2ea;
					border-radius: 6px;
				}
				.report-stat-box-body > div:not(:last-child) {
					margin-right: 20px;
				}
				.report-stat-box:nth-child(4n) .report-stat-box-body {
					margin-right: 0;
				}
				.report-stat-box .box-icon {
					width: 60px;
					height: 60px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #e9edfb;
					span {
						font-size: 43px;
					}
				}
				.report-stat-box h4,
				.report-stat-box p {
					margin: 5px 0;
				}
				@include breakpoint-max(823) {
					.report-stat-box h4 {
						font-size: 20px;
						line-height: 113%;
					}
				}
				@include breakpoint-max(823) {
					.report-stat-box p {
						font-size: 12px;
						line-height: 140%;
					}
				}
				.report-stat-box .box-stats-text h3,
				.report-stat-box .box-stats-text p {
					margin: 5px 0;
				}
				.report-stat-box .box-stats-text {
				}
				.report-stat-box .box-stats-text h4 {
				}
			}

			// #tutor-courses-overview-section,
			// #tutor-courses-review-section,
			// #tutor-qna-section {
			// 	[class^='ttr-'],
			// 	[class*=' ttr-'] {
			// 		font-size : 18px;
			// 	}
			// }

			.tutor-report-overview-section,
			#tutor-courses-review-section,
			#tutor-courses-overview-section,
			#tutor-new-registered-section,
			#tutor-qna-section {
				margin-top: 50px;
				@include breakpoint-max(823) {
					margin-top: 30px;
				}
			}
			.tutor-ratings {
				.tutor-rating-text {
					line-height: 26px;
				}
			}
			.tutor-instructor-card {
				.tutor-icard-content {
					margin-top: -10px;
				}
			}

			#tutor-courses-overview-section,
			#tutor-new-registered-section {
				display: grid;
				gap: 20px 23px;
				@include breakpoint-min(1347) {
					grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
				}
				@include breakpoint-min(1600) {
					grid-template-columns: repeat(auto-fit, minmax(660px, 1fr));
				}
			}

			.tutor-report-overview-section {
				.tutor-overview-month-graph {
					padding: 37px 30px;
					background: #ffffff;
					border: 1px solid #cdcfd5;
					border-radius: 6px;
					position: relative;
					@include breakpoint-max(823) {
						padding: 23px 20px;
					}
				}
				.chartjs-size-monitor {
				}
				.tutor-overview-graph-top {
					margin-bottom: 20px;
					.tutor-overview-graph-top-left {
						button:not(:last-child) {
							margin-right: 18px;
						}
						button {
							border: 1px solid #c0c3cb;
							border: 1px solid $stroke-gray;
							box-sizing: border-box;
							border-radius: 3px;
							color: $text-hints;
							background: $design-white;
							outline: 0;
							padding: 2px 16px 3px;
							&:hover {
								background: $brand-wordpress;
								color: $design-white;
							}
							&.active {
								@extend :hover;
							}
						}
					}
					.tutor-overview-graph-top-right {
						> *:not(:last-child) {
							margin-right: 6px;
						}
						> *:last-child {
							margin-left: 3px;
						}
						.tutor-input-group {
							input {
								height: 33px;
								padding: 0 12px;
								color: $text-subsued;
								> div:last-child {
									margin-left: 0px;
								}
								::-webkit-calendar-picker-indicator {
									margin-left: 0px;
								}
							}
							input[type='date' i]::-webkit-calendar-picker-indicator {
								margin-left: 0px;
							}
						}
						.tutor-dash-line {
							width: 20px;
							height: 2px;
							background: $stroke-light-30;
							position: relative;
							top: 50%;
							transform: translate(0px, -50%);
						}
						.tutor-report-chart-search {
							flex: 0 0 32px;
							height: 32px;
							background: $brand-wordpress;
							border-radius: 3px;
							span {
								color: $design-white;
								font-size: 24px;
							}
						}
						@include breakpoint-max(823) {
							margin-top: 10px;
							.tutor-input-group {
								width: 150px;
								input {
									min-height: 33px;
									::-webkit-calendar-picker-indicator {
										margin-left: 0px;
									}
								}
							}
						}
						@include breakpoint-max(410) {
							flex-wrap: wrap;
							> div:not(:last-child) {
								margin-bottom: 10px;
							}
							.tutor-report-chart-search {
								width: 32px;
							}
							.tutor-dash-line {
								display: none;
							}
						}
					}
				}
				#myChart {
					width: 100%;
					height: 400px;
					background: #ffffff;
					border-radius: 6px;
				}
			}

			#tutor-courses-overview-section {
				//grid-template-columns: repeat(auto-fit, minmax(824px, 1fr));
				@include breakpoint-min(1347) {
					table {
						tr {
							td[data-th='Course Name'] {
								width: 30%;
								padding-left: 10px;
								padding-right: 10px;
							}
							td[data-th='Total Enrolled'] {
								width: 30%;
							}
							td[data-th='Course Name'] {
								width: 10%;
							}
						}
					}
				}
				@include breakpoint-min(1600) {
					table {
						tr {
							td[data-th='Course Name'] {
								width: 50%;
							}
							td[data-th='Total Enrolled'] {
								width: 20%;
							}
						}
					}
				}
				table {
					.a-to-z-sort-icon {
						margin-left: 5px;
						font-size: 15px;
					}
					.tutor-details-link {
						margin-left: 20px;
						cursor: pointer;
						// span {
						// 	font-size: 20px;
						// }
					}
				}
			}

			#tutor-courses-review-section {
				table {
					tr {
						th:first-child {
							.ttr-ordering-a-to-z-filled.a-to-z-sort-icon {
								font-size: 18px;
							}
						}
						td {
							vertical-align: top;
						}
						@include breakpoint-min(1367) {
							td[data-th='Student'] {
								width: 15%;
							}
							td[data-th='Date'] {
								width: 14%;
							}
							td[data-th='course'] {
								width: 19%;
								padding-right: 30px;
							}
							td[data-th='Feedback'] {
								width: 30%;
							}
							td[data-th='review-action-btns'] {
								width: 10%;
							}
						}
						@include breakpoint-minmax(1200, 1367) {
							td[data-th='Student'] {
								width: 20%;
							}
							td[data-th='Date'] {
								width: 10%;
							}
							td[data-th='Date'] {
								width: 13%;
							}
							td[data-th='course'] {
								width: 21%;
								padding-right: 10px;
							}
							td[data-th='Feedback'] {
								padding-right: 15px;
								width: 31%;
							}
							td[data-th='review-action-btns'] {
								padding-right: 10px;
							}
						}
						@include breakpoint-max(1199) {
							td[data-th='review-action-btns'] {
								align-items: center;
							}
							td[data-th='review-action-btns'] {
								.btn-text {
									display: flex;
								}
							}
						}
						td[data-th='Student'] {
						}
						td[data-th='Date'] {
						}
						td[data-th='course'] {
							padding-right: 30px;
						}
						td[data-th='Feedback'] {
							padding-right: 15px;
						}
						td[data-th='review-action-btns'] {
							text-align: center;
							vertical-align: middle;
							a {
								vertical-align: middle;
							}
							*:not(:last-child) {
								margin-right: 16px;
							}
						}
					}
				}
			}

			#tutor-new-registered-section,
			#tutor-qna-section {
				.tutor-instructor-card {
					padding: 0px;
					border: none;
					min-width: unset;
					.tutor-avatar {
						img {
							width: 34px;
							height: 34px;
							border-radius: 50%;
						}
					}
					.tutor-icard-content {
						h6 {
							margin: 0;
							font-style: normal;
							font-weight: 500;
							font-size: 16px;
							line-height: 26px;
						}
						span {
							margin-left: 7px;
							color: #757c8e;
						}
					}
				}
			}

			#tutor-new-registered-section {
				table {
					&.tutor-ui-table {
						tr {
							@include breakpoint-minmax(1200, 1367) {
								td[data-th='Student'] {
									width: 20%;
								}
								td[data-th='Date'] {
									width: 10%;
								}
								td[data-th='Date'] {
									width: 13%;
								}
								td[data-th='course'] {
									width: 21%;
									padding-right: 10px;
								}
								td[data-th='Feedback'] {
									padding-right: 15px;
									width: 31%;
								}
								td[data-th='review-action-btns'] {
									padding-right: 10px;
								}
								td {
									&:nth-child(1) {
										@include breakpoint-min(1199) {
											width: 39%;
										}
									}
								}
							}
						}
					}
				}
			}

			#tutor-qna-section {
				@include breakpoint-min(1200) {
					table {
						tr {
							td[data-th='Questions'] {
								width: 50%;
								padding-right: 145px;
							}
							td[data-th='Student'] {
								width: 15%;
							}
							td[data-th='Reply'] {
								width: 5%;
							}
							td[data-th='Answer'] {
								width: 8%;
								.td-action-btns {
									display: flex;
									align-items: center;
									justify-content: center;
								}
							}
						}
					}
				}
				@include breakpoint-minmax(1200, 1400) {
					table {
						tr {
							td[data-th='Questions'] {
								padding-right: 45px;
							}
						}
					}
				}
			}
		}
	}
}
