#tutor-report-courses-wrap {
	.tutor-report-courses-data-table-header {
		.tutor-wp-dashboard-filter-items {
			@include breakpoint-max(1670) {
				> div:not(:last-child) {
					gap: 10px;
				}
			}
			.tutor-form-select-with-btn {
				gap: 10px;
			}
			select.tutor-form-select,
			.tutor-wp-dashboard-filter-items .tutor-input-group,
			.tutor-input-group {
				@include breakpoint-max(1670) {
					width: 187px;
				}
				@include breakpoint-max(1500) {
					width: 150px;
				}
			}
			.tutor-input-group {
				&.tutor-input-group-date {
					@include breakpoint-max(1500) {
						width: 187px;
						max-width: 187px;
					}
				}
			}
		}
	}
	.tutor-report-courses-data-table {
		margin-top: 50px;
		.tutor-ui-table-wrapper {
			table {
				tbody {
					@include breakpoint-min(1200) {
						tr {
							td[data-th='Course Name'] {
								width: 50%;
							}
							td[data-th='Lesson'] {
								width: 9%;
							}
							td[data-th='Assignment'] {
								width: 9%;
							}
							td[data-th='Total Learners'] {
								width: 9%;
							}
							td[data-th='Earnings'] {
								width: 10%;
							}
							td[data-th='URL'] {
								width: 15%;
							}
						}
					}
				}
			}
		}
	}
	.tutor-report-courses-data-table-pagination {
		.tutor-dashboard-pagination {
			background: transparent;
			max-height: 48px;
			ul {
				li {
					margin-bottom: 0px;
					li.pagination-number {
						&:before {
							bottom: calc(0% - 11px);
						}
					}
				}
			}
		}
	}
}

/* #tutor-report-courses-detials-wrap */
#tutor-report-courses-detials-wrap {
	margin-bottom: 30px;
	.tutor-course-report-header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include breakpoint-max(1500) {
			grid-template-columns: 2fr 1fr;
		}
		@include breakpoint-max(1150) {
			grid-template-columns: 1fr;
		}
		.tutor-course-report-header-left {
			.tutor-course-report-header-title {
				h4 {
					margin: 0px;
					margin-bottom: 11px;
				}
			}
			.tutor-course-report-header-meta {
				> div:not(:last-child) {
					margin-right: 27px;
				}
				span {
					font-weight: 500;
				}
				.tutor-course-report-last-update-date {
					span:last-child {
						margin-left: 5px;
					}
				}
			}
		}
		.tutor-course-report-header-right {
			margin-top: 20px;
			// @include breakpoint-max(1150) {
			//     justify-content: flex-start;
			// }
			> button:not(:last-child) {
				margin-right: 15px;
			}
			button {
				padding: 10px 18px;
				@include breakpoint-max(600) {
					padding: 8px 12px;
				}
			}
		}
	}

	/* #tutor-course-report-stats */
	#tutor-course-report-stats {
		margin: 35px 0px 25px 0px;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		@include breakpoint-max(1200) {
			display: flex;
			flex-wrap: wrap;
			.tutor-course-report-single-stats {
				flex: 0 0 20%;
				padding: 20px 5px;
			}
		}
		background: #fff;
		border: 1px solid #cdcfd5;
		box-sizing: border-box;
		border-radius: 6px;
		@include breakpoint-min(1200) {
			> div:not(:last-child) {
				border-right: 1px solid #cdcfd5;
			}
		}
		.tutor-course-report-single-stats {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding: 22px 10px 23px 30px;
			.tutor-course-report-single-stats-number {
			}
			.tutor-course-report-single-stats-text {
			}
		}
		.tutor-course-report-single-stats.tutor-ratings-stats {
		}
	}

	/* tutor-course-details-student-list */
	#tutor-course-details-student-list {
		.tutor-course-details-student-table {
		}
	}

	/* tutor-course-details-instructor-list */
	#tutor-course-details-instructor-list {
		.tutor-course-details-instructor-list-table {
			table {
				tbody {
					tr {
						@include breakpoint-min(1200) {
							td.student {
							}
							td.total-courses {
								width: 13%;
							}
							td.total-students {
								width: 13%;
							}
							td.rating {
								width: 19%;
							}
							td.action-btns {
								width: 15%;
							}
						}
					}
				}
			}
		}
	}
	/* tutor-course-details-review-section */
	#tutor-course-details-review-section {
		table {
			tbody {
				tr {
					@include breakpoint-min(1200) {
						td.student {
							width: 20%;
						}
						td.date {
							width: 16%;
						}
						td.feedback {
							width: 40%;
						}
						td.review-action-btns {
							width: 15%;
							text-align: right;
							padding-right: 40px;
						}
					}
				}
			}
		}
	}
}

/* tutor-course-details-review-section */
#tutor-report-reviews {
}

/* tutor-course-details-review-section */
#tutor-report-sales {
	.tutor-report-sales-data-table {
	}
    .tutor-report-sales-data-table {
        table.tutor-ui-table {
            tbody {
                @include breakpoint-min(1200) {
                    tr {
                        td.order-id {
                            width : 8%;
                        }
                    
                        td.course {
                            width : 36%;
                        }
                        td.student {
                            width : 15%;
                        }
                        td.date {
                            width : 15%;
                        }
                        td.status {
                            width : 10%;
                        }
                        td.price {
                            width : 8%;
                        }
                        td.url {
                            width : 14%;
                        }
                    }
                }
            }
        }
    }
	.tutor-report-sales-data-table-pagination {
	}
}

/* tutor-course-details-review-section */
#tutor-report-students {
	.tutor-report-students-data-table {
	}
    .tutor-report-students-data-table {
        table.tutor-ui-table {
            tbody {
                @include breakpoint-min(1200) {
                    tr {
                        td.order-id {
                            width : 8%;
                        }
                    
                        td.course {
                            width : 36%;
                        }
                        td.student {
                            width : 15%;
                        }
                        td.date {
                            width : 15%;
                        }
                        td.status {
                            width : 10%;
                        }
                        td.price {
                            width : 8%;
                        }
                        td.url {
                            width : 14%;
                        }
                    }
                }
            }
        }
    }
	.tutor-report-students-data-table-pagination {
	}
}

/* tutor-report-student-details */
#tutor-report-student-details {

    .tutor-report-student-details-header {
        .tutor-details-student-profile-pic {
            flex-basis: 90px;
            img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }
        }
        .tutor-details-student-profile-details {
            flex-basis: 100%;
            .tutor-details-student-profile-desc-area {
                .tutor-details-student-profile-desc {
                    > div:not(:last-child) {
                        margin-right: 45px;
                    }
                }
                .tutor-report-student-profile-btn {
                    button {
                        padding: 7px 16px;
                    }
                }
            }
        }
    }
    @include breakpoint-max(1500) {
        .tutor-details-student-profile-desc-area {
            flex-direction: column;
            .tutor-details-student-profile-desc {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(233px, 1fr));
                > div:not(:last-child) {
                    margin-right: 20px;
                }
            }
            .tutor-report-student-profile-btn {
                margin-top: 10px; 
                justify-content: flex-start;
            }
        }
    }
    @include breakpoint-max(768) {
        .tutor-details-student-profile-desc-area {
            .tutor-details-student-profile-desc {
                grid-template-columns: 1fr;
            }
        }
    }
    font-size: 25px;
    #student-report-stats {}

    #tutor-course-details-list {
        table {
            tbody {
                tr {
                    td.course {
                        div {
                            margin-right: 20px;
                        }
                    }
                }
            }
            @include breakpoint-min(1200) {
                tbody {
                    tr {
                        td.course {
                            width : 30%;
                            div {
                                margin-right: 100px;
                            }
                        }
                        td.enroll-date {
                            width : 20%;
                        }
                        td.lesson {
                            width : 10%;
                        }
                        td.quiz {
                            width : 8%;
                        }
                        td.assignment {
                            width : 8%;
                        }
                        td.progress {
                            div {
                                display: flex;
                                align-items: center;
                            }
                            width : 8%;
                        }
                        td.expand-btn {
                            width: 5%;
                            cursor: pointer;
                            text-align: center;
                            .ttr-angle-down-filled {
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    #tutor-report-reviews {
        table.tutor-ui-table {
            tbody {
                tr {
                    td.date {
                        width: 15%;
                    }
                    td.course {
                        width: 30%;
                        @include breakpoint-min(1500) {
                            padding-right: 150px;
                        }
                        padding-right: 100px;
                    }
                    td.feedback {
                        width: 50%;
                    }
                    td.action-btns {
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

}