#tutor-report-courses-wrap {
	.tutor-report-courses-data-table-header {
		margin-bottom: 40px;
        .tutor-wp-dashboard-filter-items {
            @include breakpoint-max(1670) {
                > div:not(:last-child) { 
                    gap : 10px;
                }
            }
            .tutor-form-select-with-btn {
                gap : 10px;
            }
            select.tutor-form-select, 
            .tutor-wp-dashboard-filter-items .tutor-input-group,
            .tutor-input-group {
                @include breakpoint-max(1670) {
                    width: 187px;
                }
                @include breakpoint-max(1500) {
                    width: 150px;
                }
            }
            .tutor-input-group {
                &.tutor-input-group-date {
                    @include breakpoint-max(1500) {
                        width: 187px;
                        max-width: 187px;
                    }
                }
            }
        }
	}
	.tutor-report-courses-data-table {
        margin-top: 50px;
		.tutor-ui-table-wrapper {
			table {
				tbody {
					@include breakpoint-min(1200) {
						tr {
							td[data-th='Course Name'] {
								width: 50%;
							}
							td[data-th='Lesson'] {
								width: 9%;
							}
							td[data-th='Assignment'] {
								width: 9%;
							}
							td[data-th='Total Learners'] {
								width: 9%;
							}
							td[data-th='Earnings'] {
								width: 10%;
							}
							td[data-th='URL'] {
								width: 15%;
							}
						}
					}
				}
			}
		}
	}
	.tutor-report-courses-data-table-pagination {
		margin-top: 50px;
		.tutor-dashboard-pagination {
            background: transparent;
            max-height: 48px;
            ul {
                li {
                    margin-bottom: 0px;
                    li.pagination-number {
                        &:before {
                            bottom: calc(0% - 11px);
                        }
                    }
                }
            }
		}
	}
}

/* #tutor-report-courses-detials-wrap */
#tutor-report-courses-detials-wrap {
    margin-bottom: 30px;
    .tutor-course-report-header {
        display : grid;
        grid-template-columns: 1fr 1fr;
        @include breakpoint-max(1500) {
            grid-template-columns: 2fr 1fr;
        }
        @include breakpoint-max(1150) {
            grid-template-columns: 1fr;
        }
        .tutor-course-report-header-left {
            .tutor-course-report-header-title {
                h4 {
                    margin: 0px;
                    margin-bottom: 11px;
                }
            }
            .tutor-course-report-header-meta {
                > div:not(:last-child) {
                    margin-right: 27px;
                }
                span {
                    font-weight: 500;
                }
                .tutor-course-report-last-update-date {
                    span:last-child {
                        margin-left : 5px;
                    }
                }
            }
        }
        .tutor-course-report-header-right {
            margin-top: 20px;
            // @include breakpoint-max(1150) {
            //     justify-content: flex-start;
            // }
            > button:not(:last-child) {
                margin-right : 15px;
            }
            button {
                padding: 10px 18px;
                @include breakpoint-max(600) {
                    padding: 8px 12px;
                }
            }
        }
    }

    /* #tutor-course-report-stats */
    #tutor-course-report-stats {
        margin: 35px 0px 25px 0px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        @include breakpoint-max(1200) {
            display: flex;
            flex-wrap: wrap;
            .tutor-course-report-single-stats {
                flex: 0 0 20%;
                padding: 20px 5px;
            }
        }
        background : #fff;
        border: 1px solid #CDCFD5;
        box-sizing: border-box;
        border-radius: 6px;
        @include breakpoint-min(1200) {
            > div:not(:last-child) {
                border-right: 1px solid #CDCFD5;
            }
        }
        .tutor-course-report-single-stats {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 22px 10px 23px 30px;
            .tutor-course-report-single-stats-number {

            }
            .tutor-course-report-single-stats-text {

            }
        }
        .tutor-course-report-single-stats.tutor-ratings-stats { 

        }
    }

    /* tutor-course-details-student-list */
    #tutor-course-details-student-list {
        .tutor-course-details-student-table {

        }
    }

    /* tutor-course-details-instructor-list */
    #tutor-course-details-instructor-list {
        .tutor-course-details-instructor-list-table {
            table {
                tbody{
                    tr {
                        @include breakpoint-min(1200) {
                            td.student {
                            }
                            td.total-courses {
                                width: 13%;
                            }
                            td.total-students {
                                width: 13%; 
                            }
                            td.rating {
                                width: 19%;
                            }
                            td.action-btns {
                                width: 15%;
                            }
                        }
                    }
                }
            }
        }
    }

    /* tutor-course-details-review-section */
    #tutor-course-details-review-section {
        table {
            tbody{
                tr {
                    @include breakpoint-min(1200) {
                        td.student {
                            width: 20%;
                        }
                        td.date {
                            width: 16%;
                        }
                        td.feedback {
                            width: 40%; 
                        }
                        td.review-action-btns {
                            width: 15%;
                            text-align: right;
                            padding-right: 40px;
                        }
                    }
                }
            }
        }
    }

}
